<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job Scraper</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
  </head>
  <body>
    <main class="container">
      <h1>Not Found</h1>
      <p>
        검색어로 해당 채용 정보를 찾을 수 없습니다. Pyhton, JavaScript, Java 만
        지원합니다.
      </p>
      <a href="/" role="button">메인 페이지로 이동</a>
    </main>
  </body>
</html>
